html { 
  background: url(bbb.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@font-face{
	font-family:Roboto-Light;
	src:url("Roboto-Light.ttf");
}
#font-roboto{
	font-family:Roboto-Light;
}

#clsBanner {
    display: block;
    margin-right: auto;
    max-height: 80px;
    max-width: 80px;
    width: 80px;
    height: 80px;
    padding-bottom: 20px;
    float:left;
}

p {
	width: 90%;
	max-width: 640px;
    font-size: 18px;
    color: #34495E;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #67cbff;
    border-radius: 5px;
    padding: 20px;
}

#wrapper{
	width: 90%;
	max-width: 640px;
	background: rgba(3, 24, 60, 0.8);
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	margin-bottom: 20px;
	border-radius: 5px;
	padding-top: 1px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px
}

ul#nobullets{
list-style-type: none;
margin:0px;
border: 0px;
padding: 0px;
}

li { 
	width: 100%;
	max-width: 640px;
	border-bottom: 1px solid #6B8FB2;
	padding-bottom: 15px;
	padding-top: 15px;
 }

a{
	color: white;
	text-decoration: none;
	font-size: 23px;
}
header{
	max-width: 680px;
   	margin: 5px auto;
    margin-left: auto;
    margin-right: auto
}
.container-1 input#search{

	max-width: 680px;
	width: 100%;
	background-color: transparent;
	border: 1px solid white;
	height: 40px;
	border-radius: 5px;
}